.auth-login {
  height: 100vh;
  width: 100vw;
  over-flow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../images/background-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .login-wrapper {
    height: 620px;
    width: 100%;
    max-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .login-title {
      padding: 60px 60px 20px;

      width: 750px;
      height: 450px;
      max-height: 100vh;
      background-image: linear-gradient(135deg, rgba(141, 211, 236, 0.9) 0%, rgba(111, 192, 221, 0.98) 22%, rgba(111, 192, 221, 0.96) 33%, rgba(38, 129, 212, 0.9) 100%);

      .login-title--title {
        font-size: 46px;
        font-weight: 700;
        line-height: 72px;
        color: white;
      }
    }

    .login-form {
      height: 100%;
      width: 540px;
      border-radius: 3px;

      background-color: rgb(0, 87, 167);
      padding: 75px 45px 90px;
      box-shadow: 0 2px 10px #0057a7;

      .login-form--header {
        height: 86px;

        .login-form--image {
          height: 100%;
          display: block;
          //background-image: url("../images/logo_login.png");
          background-image: url("../images/logo_login.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70%;
        }
      }

      .login-form--login {
        margin-top: 80px;
        color: white;

        .ant-row {
          margin-bottom: 12px
        }

        .ant-form-item-control-input-content {
          >span, >span:focus, >span:active, >span:hover {
            background: transparent;
            /* border: oldlace; */
            border: 0;
            border-bottom: 1px solid white;
            border-radius: 0;
            color: white;
            box-shadow: none;

            input::placeholder {
              color: white;
            }

            svg {
              color: white;
            }

            .ant-input-prefix {
              margin-right: 8px;
            }
          }

        }

        .button-login {
          width: 100%;
          background-color: #2c88dd;
          color: white;
          border-radius: 2px;
          border: none;
          margin-top: 24px;
        }
      }
    }
  }
}