@import "viasm-table.scss";
@import "custom.scss";

.basic-layout {
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  transition: linear .3s;

  .viasm-header {
    z-index: 100;
    width: 100%;
    height: var(--header-height) !important;
    border-radius: 0;

    .p-toolbar.p-component {
      border: 0px;
      padding: 0px;
      border-bottom: 1px solid red;
      border-radius: 0px;

      height: var(--header-height) !important;

      .p-toolbar-group-start {
        height: var(--header-height) !important;
      }

      .header-left {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .toggle-sidebar-swap {
          width: 30px;
          height: 100%;
          background-color: red;
          margin-right: 8px;

          display: flex;
          justify-content: center;
          align-items: center;

          .toggle-sidebar-icon {
            cursor: pointer;
            font-size: 1rem;
            color: white;
          }
        }

        .viasm-logo {
          height: calc(var(--header-height) - 14px);
        }
      }

      .header-right {
        .header-right--avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
        }

        .header-right--avatar:hover {
          opacity: 0.8;
        }
      }
    }

  }

  .viasm-container {
    display: flex;
    flex: 1;

    .viasm-content {
      height: 100%;
      display: block;

      flex: 1;
      //padding: 7px 14px;
    }
  }

  #swap-sidebar {
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);

    .sidebar-menu {
      height: 100%;

      .p-menu {
        display: block;
        height: 100%;
        width: var(--sidebar-width);

        font-size: 0.9rem;
        padding: 0;

        .p-menuitem.p-focus {
          background-color: rgb(232, 232, 232);
        }

        .p-menuitem.p-focus .p-menuitem-text,
        .p-menuitem.p-focus .menu-item--icon {
          color: var(--primary-color-viasm-active-color) !important;
        }

        .menu-item--icon {
          margin-right: 14px;
        }

        .menu-subsystem {
          display: flex;
          align-items: center;

          padding: 16px;
          margin-bottom: 16px;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        }

        .menu-item {
          padding: 16px 20px;
          display: flex;
          align-items: center;

          text-decoration: none;
          color: var(--primary-color-viasm-text);
        }
      }
    }
  }

}
