@import "custom.scss";

.basic-layout {
  height: 100%;
}

.viasm-header {
  display: block;
  //position: fixed;
  z-index: 100;
  width: 100%;
  height: var(--header-height) !important;

  .sidebar-menu {
  }

}

.viasm-container {
  height: 100%;

  .viasm-content {
    height: 100%;
    display: block;
    margin-top: var(--header-height);
  }
}
