@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px;
  --sidebar-width: 300px;
  --primary-color-viasm-text: #495057;
  --primary-color-viasm-active-color: rgb(51, 122, 183);
  --primary-color-viasm-danger: #d63a5c;
}

body {
  height: 100vh;
  margin: 0;
  /*font-family: sans-serif -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color-viasm-text);
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
